*{
	margin:0px;
	padding:0px;
}
h1{
	font:bold 20px Tahoma;
}
li{
	list-style:none;
}
header, section, footer, nav, article{
	display:flex;
	justify-content:center;
}
body{
	text-align:center;
	background:#000000;
}
#form1{
	margin:20px 10%;
}
#banner{
	background:#000000;
	color: #6d0404;
    text-shadow: 1px 1px 2px white, 0 0 25px #6d0404, 0 0 5px #ff0000;
	border:1px solid #6d0404;
	padding:20px;
}
#nav_menu{
	background:#6d0404;
	width:100%;
	display:table;
	table-layout:fixed;
}
#nav_menu ul{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:5px;
	padding:10px auto;
}
#nav_menu ul li{
	text-align:center;
	border:1px solid #000000;
	border-radius:25px;
	padding:10px auto;
}
#nav_menu ul li a{
	display:block;
	padding: 10px 40px;
	color:white;
	text-decoration:none;
	font:bold 14px Tahoma;
	transition: color 2s, font 2s;
}
#nav_menu ul li a:hover{
	color:#000000;
	text-transform:uppercase;
	font: bold 125% Trebuchet MS;
}
#section{
	flex-direction:column;
}
article{
	flex-direction:column;
	flex-grow:1;
	background: white;
	border: 5px solid rgba(0,0,0,.7);
	border-radius:25px;
	padding:20px;
	margin:10px;
}
header{
	flex-direction:column;
}
#bottom_part{
	background:ghostwhite;
	padding:20px;
	border-top:2px solid black;
}
